.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
 
}

.login-card {
  width: 100%;
  max-width: 400px;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

form {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

button[type="submit"] {
  margin-top: 8px;
  height: 48px;
}